.header {
  background-color: #000;
  height: 6rem;
  color: #FFF;

  img {
    height: 5rem;
    margin-top: .5rem;
    margin-left: 2rem;
  }
}

.header-title {
  font-weight: 500;
  font-size: 2rem;
  margin-top: 1.2rem;
  vertical-align: middle;
  padding-left: 1em;
}